node_modules/
**/node_modules/
**/dist/
**/build/
**/.next/
**/vendor/
**/*.test
**/go-build*
.git/
**/.git/
.gitignore
.gitmodules
.vscode/
.idea/
*.swp
*.log
**/logs/
tmp/
tests/
coverage/
**/coverage/
.nyc_output/
docs/
**/*.md
.DS_Store
Thumbs.db